# Compiled source #
###################
*.dll
*.exe
*.obj
*.pdb

# Temporary files #
###################
*.tlog
*.log
*.ilk
*.sdf
*.idb
*.lastbuildstate
*.opensdf
*.unsuccessfulbuild
*.cod

# User settings   #
###################
*.suo

